nthreads: _NTHREADS_
run_ids: [_RUN_ID_]
# repos: _REPO_
index_dir:
  class: Directory
  path: _PATH_TO_SAILFISH_INDEX_DIR_
  # genome_version: _GENOME_VER_
# gibbs_samples: _GIBBS_SAMPLES_
# num_bootstrap: _NUM_BOOTSTRAP_
