# Job configuration sample for kallisto.cwl

index_file:
  class: File
  path: _INDEX_FILE_PATH_
  # genome_version: _GENOME_VER_

fq:
  - class: File
    path: _FASTQ_PATH_

nthreads: _NTHREADS_

# out_dir_name: _OUT_DIR_NAME_

# single: true           # UNCOMMENT FOR --single
# fragment_length: 100   # UNCOMMENT FOR --single
# standard_deviation: 20 # UNCOMMENT FOR --single

boostrap_samples: 100 # For faster calculation, default: 0
