# telegraf
telegraf_conf: /path/to/directory/telegraf.conf
telegraf_docker_name: nasuno/docker-metrics-collector
telegraf_docker_command: docker run -d --name telegraf -v TELEGRAF_CONF:/etc/telegraf/telegraf.conf:ro -v /var/run/docker.sock:/var/run/docker.sock -v RESULT_DIR_PATH:/var/log/telegraf TELEGRAF_DOCKER_NAME

# AWS S3 bucket
bucket_name: ngs-workflow-telegraf-log

# cwl
# --data_type: rnaseq|mutation|assemble
cwl_log_command: python /path/to/make_json_format_log.py --data_dir RESULT_DIR --data_type rnaseq
cwl_log_name: cwl_log.json
